.card {
  width: 17em;
  height: 22.5em;
  background: #171219;
  border: 3px solid #310D20;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.containerCard {
  place-items: center;
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 2em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 1em;
  margin: 1em;
}

.card .img {
  width: 4.8em;
  height: 4.8em;
  background: #E7EA1F;
  border-radius: 15px;
  margin: auto;
}
