<div class="contenedor">
  <div class="texto-principal">NIGHTCITY</div>
  <div class="texto-sombra">NIGHTCITY</div>
</div>

<!-- Intercomunicador -->
<div class="menu">
  <ul class="glitch-wrapper">
    <li class="glitch" data-glitch="POST">
      <a routerLink="/post">POST</a>
    </li>
    <li class="glitch" data-glitch="COMMENTS">
      <a routerLink="/comments">COMMENTS</a>
    </li>
    <li class="glitch" data-glitch="TODO's">
      <a routerLink="/todo">TODO's</a>
    </li>
    <li class="glitch" data-glitch="USERS">
      <a routerLink="/users">USERS</a>
    </li>
  </ul>
</div>
